<% if @latest_movies.any? %>
  <%= render(MainCardComponent.new(movie: @latest_movies.last)) %>

  <div class="row">
    <% @latest_movies.take(3).reverse_each do |movie| %>
      <%= render(SmallCardComponent.new(movie: movie)) %>
    <% end %>
  </div>
<% else %>
  <%= render(EmptyPlaceholderComponent.new(text: 'filme')) %>
<% end %>
