<div class="d-flex mb-5 justify-content-between">
  <h3>Gêneros</h3>
  <%= link_to "+ Novo", new_movie_genre_path, class: "btn btn-primary" %>
</div>

<% if @movie_genres.any? %>
  <%= render(TableComponent.new(items: @movie_genres)) %>
<% else %>
  <%= render(EmptyPlaceholderComponent.new(text: 'gênero')) %>
<% end %>
