:root {
  --color-primary: #ff375f;
  --color-dark-gray-2: #636366;
  --color-dark-gray-3: #48484a;
  --color-dark-gray-4: #3a3a3c;
  --color-dark-gray-5: #2c2c2e;
  --color-dark-gray-6: #1c1c1e;
  --color-light-gray-3: #c7c7cc;
  --color-light-gray-4: #d1d1d6;
  --color-light-gray-5: #e5e5ea;
  --color-light-gray-6: #f2f2f7;
}
